.navbar{
    background-color:yellow;
}
.navbar li a{
    font-weight: 30px;
    color:black;
}
.navbar li a:hover{
    background-color:orange;
}
.active{
    background-color:orange;
}
.navbar button:hover{
    background-color:orange;
}
.navbar button{
    border-radius:0px;
    margin:0px;
    height:50px;
}
.icon-bar{
    background-color:black;
}
#login_dar{
    width:100%;
}
#darjpg{
    width:100%;
}
@media (max-width:480px){
    .navbar .navbar-brand{
        font-size:15px;
        font-weight: bold;
    }
}